
#fname{
    background-color: #9f9c9c;
    font-family: "Century Schoolbook L";

}
#lname{
    background-color: #9f9c9c;
    font-family: "DejaVu Sans";
}
#email{
    background-color: #9f9c9c;
    font-family: "Century Schoolbook L";

}
#DOB{
    background-color: #9f9c9c;
    font-family: "Century Schoolbook L";

}
#pass{
    background-color: #9f9c9c;
    font-family: "Century Schoolbook L";

}

h2{
    text-align: center;
}